{
  "openapi": "3.0.0",
  "info": {
    "title": "Cloud.ru IAM API - Service Account",
    "description": "Спецификация API для управления сервисными аккаунтами в cloud.ru",
    "version": "1.0.0",
    "contact": {
      "name": "Cloud.ru API",
      "url": "https://cloud.ru"
    }
  },
  "servers": [
    {
      "url": "https://iam.api.cloud.ru/api/v1"
    }
  ],
  "paths": {
    "/service-accounts": {
      "post": {
        "summary": "Создание сервисного аккаунта",
        "description": "Создает новый сервисный аккаунт в указанном проекте",
        "operationId": "createServiceAccount",
        "tags": ["Service Account"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ServiceAccountCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Сервисный аккаунт успешно создан",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceAccountResponse"
                }
              }
            }
          },
          "201": {
            "description": "Сервисный аккаунт успешно создан",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceAccountResponse"
                }
              }
            }
          },
          "400": {
            "description": "Неверный запрос",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Не авторизован",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Нет прав на создание",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/service-accounts/{id}": {
      "get": {
        "summary": "Получение информации о сервисном аккаунте",
        "description": "Возвращает информацию о сервисном аккаунте по его ID",
        "operationId": "getServiceAccount",
        "tags": ["Service Account"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "ID сервисного аккаунта"
          }
        ],
        "responses": {
          "200": {
            "description": "Информация о сервисном аккаунте",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceAccountDetailResponse"
                }
              }
            }
          },
          "401": {
            "description": "Не авторизован",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Нет прав на просмотр",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Сервисный аккаунт не найден",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/permissions": {
      "get": {
        "summary": "Получение разрешений",
        "description": "Возвращает список разрешений для указанного субъекта",
        "operationId": "getPermissions",
        "tags": ["Permissions"],
        "parameters": [
          {
            "name": "subjectId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID субъекта (сервисного аккаунта)"
          },
          {
            "name": "subjectType",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["service_account", "user", "group"]
            },
            "description": "Тип субъекта"
          }
        ],
        "responses": {
          "200": {
            "description": "Список разрешений",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PermissionsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Не авторизован",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Нет прав на просмотр",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ServiceAccountCreateRequest": {
        "type": "object",
        "required": ["name", "projectId"],
        "properties": {
          "name": {
            "type": "string",
            "description": "Имя сервисного аккаунта"
          },
          "description": {
            "type": "string",
            "description": "Описание сервисного аккаунта"
          },
          "projectId": {
            "type": "string",
            "format": "uuid",
            "description": "ID проекта"
          }
        }
      },
      "ServiceAccountResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "ID сервисного аккаунта"
          },
          "name": {
            "type": "string",
            "description": "Имя сервисного аккаунта"
          },
          "email": {
            "type": "string",
            "description": "Email сервисного аккаунта"
          },
          "description": {
            "type": "string",
            "description": "Описание сервисного аккаунта"
          },
          "enabled": {
            "type": "boolean",
            "description": "Активен ли сервисный аккаунт"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Дата создания"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "Дата последнего обновления"
          }
        }
      },
      "ServiceAccountDetailResponse": {
        "type": "object",
        "properties": {
          "service_account": {
            "$ref": "#/components/schemas/ServiceAccountResponse"
          }
        }
      },
      "Permission": {
        "type": "object",
        "properties": {
          "role": {
            "type": "string",
            "description": "Название роли"
          },
          "subjectId": {
            "type": "string",
            "description": "ID субъекта"
          },
          "subjectType": {
            "type": "string",
            "enum": ["service_account", "user", "group"],
            "description": "Тип субъекта"
          },
          "objectId": {
            "type": "string",
            "description": "ID ресурса"
          },
          "objectType": {
            "type": "string",
            "enum": ["customer", "resource"],
            "description": "Тип ресурса"
          },
          "expiresAt": {
            "type": "string",
            "format": "date-time",
            "description": "Дата истечения роли"
          }
        }
      },
      "PermissionsResponse": {
        "type": "object",
        "properties": {
          "permissions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Permission"
            }
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Код ошибки"
          },
          "message": {
            "type": "string",
            "description": "Сообщение об ошибке"
          },
          "details": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "Дополнительные детали"
          }
        }
      }
    },
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "security": [
    {
      "BearerAuth": []
    }
  ]
}
